/*************INDEX PAGE****************/
/*************INDEX PAGE****************/
/*NAVIGATION BAR*/
.nav {
	z-index: 1;
}

#navbar ul li a {
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	padding-right: 2.1em;
	font-size: 1.5em;
	text-decoration: none;
	transition: color 600ms;
	-webkit-transition: color 600ms;
}

#navbar p a {
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	font-size: 1.5em;
	text-decoration: none;
	transition: color 600ms;
	-webkit-transition: color 600ms;
}

#navbar {
	background-color: black;
	position: fixed;
	width: 100%;
	top: 0;
	/*padding: 20px 10px 20px;*/
	padding: 1.3em 1.1em 1.3em;
}

#navbar a:hover {
	color: #ff0;
}

#navbar ul li {
	display: inline-block;
	float: right;
}

#navbar p a {
	margin-left: 80px;
	float: left;
	display: inline-block;
}
/*END NAVIGATION BAR*/

/*CAROUSEL*/
.container-fluid {
	margin-left: -15px;
	margin-right: -15px;
}

#carousel-example-generic {
	padding-top: 81px;
}

/*Typography*/

.carousel-caption h3 {
	font-size: 2.5em;
	font-family: "Open Sans", Futura, Helvetica, Arial, sans-serif;
}

.carousel-caption p {
	font-size: 1.5em;
	font-family: "Open Sans", Futura, Helvetica, Arial, sans-serif;
	color: #5ad4c2;
}

.carousel-caption h3 {
	color: #5ad4c2;
}
/*END CAROUSEL*/
/*Backgrounds and Fonts*/

body {
	background-color: #fffeea;
}

.row {
	font-family: "Open Sans", Futura, Helvetica, Arial, sans-serif;
}

/**********************END INDEX SECTION********************/
/**********************END INDEX SECTION********************/
/*************ABOUT SECTION****************/
/*************ABOUT SECTION****************/
#learn {
	width: 80%;
	margin: 0 auto;
}

.header h1 {
	text-align: center;
	margin-bottom: 3em;
}
/*THREE COLUMNS*/
.image {
	float: left;
}

img {
	width: 100%;
}

.column {
	float: left;
	width: 30%;
	padding: 1.4px;
}

.skills-column {
	margin-bottom: 50px;
}

#skills-list {
	margin-left: 50px;
}

.skills h3 {
	text-align: center;
	text-transform: uppercase;
}

.skills-column {
	color: #fff;
	background-color: #5ad4c2; 
	padding-top: 80px;
	padding-bottom: 80px;
}
/*END THREE COLUMNS*/
/*ABOUT BOX BELOW COLUMNS*/
.about-text {
	color: #FFFFFF;
	background-color: #5ad4c2;
}

.about-text {
	clear: both;
	padding: 20px;
}

.about-text h3 {
	text-align: center;
}

.about-text {
	clear: both;
	padding: 1.4em;
}

h1,
h2,
h3 {
	font-family: Futura, Helvetica, Arial, sans-serif;
}

p,
li,
a {
	font-family: Georgia, Times, "Times New Roman", serif;
}
/*NOT SURE IF I NEED THIS YET
.intro p {
	font-family: Futura, Helvetica, Arial, sans-serif;
	font-size: 3em;
	font-weight: 100;
	-webkit-margin-before: 0;
}

.intro {
	color: #FFF;
}
**/

/**********************END ABOUT SECTION********************/
/**********************END ABOUT SECTION********************/
/*************WORK SECTION****************/
/*************WORK SECTION****************/

/**********************END WORK SECTION********************/
/**********************END WORK SECTION********************/
/*************CONTACT SECTION****************/
/*************CONTACT SECTION****************/

.section {
	width: 50%;
	margin-top: 25px;
	margin-left: 25%;
	margin-right: 25%;
}

.header {
	text-align: center;
	margin-bottom: 1%;
}

.intro p { 
	text-align: center;
	margin-bottom:10%;
	margin-top: 150px;
}

 .email p {
	text-align: center;
	padding-top: 50px;
	margin-top: 75px;
	padding-bottom: 50px;
	text-decoration: none;
	transition: color 600ms;
	-webkit-transition: color 600ms;
}

.email p:hover {
	color: #ff0;
}

.main-text p {
	text-align: center;
	margin-bottom: 70px;
	margin-top: 70px
}

.contact p:hover {
	color:#ff0;
}


.contact {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	padding-top: 25px;
	padding-bottom: 25px;
	text-decoration: none;
	transition: color 600ms;
	-webkit-transition: color 600ms;}

.summary p {
	text-align: center;
	margin-top: 30px;
	margin-tleft: 20%;
	padding-bottom: 25px;
	padding-top: 25px;
}

/*Typography*/

h1  {
	font-family: "Open Sans", Futura, Helvetica, Arial, sans-serif;
}

.intro p {
	font-family: "Open Sans", Futura, Helvetica, Arial, sans-serif;
	font-size: 2em;
}

.email  {
	font-family: "Open Sans", Futura, Helvetica, Arial, sans-serif;
	font-size: 2em;
	text-transform: uppercase;
}

.main-text {
	font-family: "Open Sans", Futura, Helvetica, Arial, sans-serif;
	text-size: 2em;
}

.contact {
	font-family: "Open Sans", Futura, Helvetica, Araial, sans-seriff;
	font-size: 2em;
	text-transform: uppercase;
}

.summary {
	font-family: "Open Sans", Futura, Helvetica, Arial, sans-serif;
	font-size: 3em;
}

/*Backrounds and Colors*/



.email p {
	background-color: #5ad4c2;
	color: #fff;
}

.contact {
	background-color: #5AD4C2;
	color: #fff;
}

.summary p {
	color: #fff;
}
.header {
	margin-bottom: 3em;
}

/**********************END CONTACT SECTION********************/
/**********************END CONTACT SECTION********************/

/************FAQ PAGE******************/
/*Backgrounds and Colors*/

.container {
	margin-top: 250px;
}

#headingOne {
	background-color: #000;
	color: #FFF;
}

#headingTwo {
	background-color: #000;
	color: #FFF;
}

#headingThree {
	background-color: #000;
	color: #FFF;
}

.panel-heading h4 {
	color: #FFF;
}

.panel-body {
	background-color: #5ad4c2;
	color: #FFF;
}

/*Fonts and Typography*/


.panel-heading h4 {
	font-family: Futura, Helvetica, Arial, sans-serif;
	font-size: 2em;
}

.panel-body {
	font-family: Futura, Helvetica, Arial, sans-serif;
	font-size: 1.5em;
}

/**********************END FAQ PAGE**********************/
